[MaxScale]
threads=2
admin_host=0.0.0.0
passive=true

[GaleraMonitor]
type=monitor
module=galeramon
servers=db1,db2,db3
user={{ maxscale_user }}
password={{ maxscale_pass }}
available_when_donor=false
monitor_interval=100

[Splitter]
type=service
router=readwritesplit
servers=db1,db2,db3
user={{ maxscale_user }}
password={{ maxscale_pass }}
transaction_replay=true

[SplitterListener]
type=listener
service=Splitter
protocol=MariaDBClient
port=3306

[db1]
type=server
address={{ hostvars.db1.ansible_host }}
port=3306
protocol=MariaDBBackend

[db2]
type=server
address={{ hostvars.db2.ansible_host }}
port=3306
protocol=MariaDBBackend

[db3]
type=server
address={{ hostvars.db3.ansible_host }}
port=3306
protocol=MariaDBBackend
